* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-button-color: rgb(10 173 10);
}

.contain-width {
  width: 95%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}