:root {
  --primary-color: rgb(10 173 10);
}

.header {
  height: 70px;
  align-items: center;
}

.validationHeader {
  height: 70px;
  align-items: center;
}
.product-count {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  right: -2px;
  text-align: center;
}

.product-count p {
  color: white;
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wishList,
.cart {
  position: relative;
}

.headerMenu {
  display: flex;
  justify-content: end;
}

.headerSearch {
  order: 0; /* Keep the logo first */
}

.hamburger {
  order: 1; /* Keep the buttons second */
}

/* Hamburger Icon */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

/* Menu Styles */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 999;
  justify-content: center;
}
.menu-margin-bottom {
  margin-top: 72px;
}
.menu li {
  border-bottom: 1px solid #555;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: block;
}

.menu a:hover {
  background-color: #555;
}

/* Active State */
.menu.active {
  transform: translateY(71px);
}

/*media query*/
@media (max-width: 576px) {
  .headerSearch {
    order: 1; /* Keep the logo first */
  }

  .hamburger {
    order: 0; /* Keep the buttons second */
  }
  .header {
    height: 138px;
  }
}

@media (max-width: 768px) {
  .headerMenu {
    display: none;
  }

  .header .hamburger {
    display: block !important;
  }
}