<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Blocked</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<script>
  Swal.fire({
    icon: "error",
    title: "Account Blocked",
    text: "Your account has been blocked by admin.",
    confirmButtonText: "OK",
    allowOutsideClick: false
  }).then(() => {
    window.location.replace("/signin");
  });
</script>

</body>
</html>
